.banner2 {
    height: 100vh;
    background: url("Images/pexels-singkham-178541-1108572.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

html {
    scroll-padding-top: 6rem;

}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
 }
 button{
  background-color: rgb(202, 129, 129);
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.questionarre{
  background-color: rgb(164, 159, 114);
}


section {
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 75vh;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    
  }

.container {
  border: 2px solid #000 ;
  border-width: 50%;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  background-color: rgb(223, 221, 152)
}

.button {
    margin-right: 100px;
}

.logo {
    margin-left: 150px;
}

h1.bannerText {
    position: relative;
    font-size: 100px;
    color: rgb(255, 255, 255);
    animation-name: bannerTransition;
    transition: 2s;
  }

  @keyframes bannerTransition {
    from {
      transition: translateX(-100%);
      
    }
    to {
      transition: translateX(0);
      
    }
  }


.question {
    display: none;
}
.active {
    display: block;
}
#result {
    margin-top: 20px;
    font-weight: bold;
}

.q{
  text-align: center;
  text-transform: uppercase;
}

button{
  justify-content: center;
}

.footerHome{
  align-items: center;
  background-color: rgb(132, 163, 134);
  justify-content: center;
  display: flex;
  min-height: 20vh;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;

}

@media all and (max-width: 1024px) {
  h1.bannerText{
    font-size: 30px;
}
h3.bannerText{
  font-size: 30px;
}
}
@media all and (max-width: 767px) {
  h1.bannerText{
    font-size: 30px;
}
h3.bannerText{
  font-size: 30px;
}
}
